body {
    background-color: #f8f8f8;
}

.contenedor-formulario {
    max-width: 600px;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contenedor-formulario .titulo-formulario h1 {
    margin-top: 10%;
    text-align: center;
}

.formulario {
    margin-bottom: 15px;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    margin-top: 2.5%;
    font-weight: bold;
    color: #000000;
}

.formulario input, .formulario select {
    width: 90%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.formulario input:focus, .formulario select:focus {
    outline: none;
    border-color: #772d38;
    box-shadow: 0 0 5px #772d38;
}

button {
    background-color: #772d38; 
    color: #ECEFF4; 
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5%;
}

button:hover {
    background-color: #772d38a8;
}


